body {font: normal 14px/1.4 sans-serif}
h1, .node-teaser h2 a {color: #6C193F}
h1,h2,h3,h4,h5,h6, #site-name a{
  font-family: "HelveticaNeueW01-77BdCn 692722",sans-serif;
  text-transform: uppercase
}
.sidebar h2 {text-shadow: none}
.region-header {/* The following two blocks allow bartik to display megamenu properly */
  border: none;
  float: none;
  margin: 0
}
#main-menu {
  bottom: 0;
  position: absolute;
  right: 0
}
@media only screen and (min-width : 320px) and (max-width : 1024px) { /* Center logo and title on devices */
  #main-menu {position: relative}
  #logo, #name-and-slogan {
    display: block;
    position: relative;
    text-align: center;
    width: 100%
  }
}
.region-sidebar-first { /* Steal sidebar shadow from na.com */
  background: url(http://www.navigationarts.com/_res/img/bgNavLocal.png) no-repeat right 0;
  min-height: 350px
}
@media only screen and (max-width : 850px) {.region-sidebar-first {background: none}}/* Hide shadow when left sidebar clears for small devices */

.sidebar .block { /* Overrides bartik background and border */
  background-color: transparent;
  border: none;
  padding: 15px 20px 15px 0
}
.region-header .block {float: none}
.region-content ul, .region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 0
}
.block ul li{list-style: none} /* Remove list bullets */
.view-navarts-blog .field-type-image{/* Float the blog images left */
  float: left;
  margin-right: 1em;
}
#block-system-powered-by span a{
  background: url('images/drupal.png') no-repeat;
  display: block;
  height: 35px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 40px
}
#block-system-powered-by span{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80px
}
/* Dropdowns */
/*@media only screen and (min-width : 480px) {
  .sf-menu li {
    background: #000;
  }
  .sf-menu a, .sf-menu span{
    color: #dd4310 !important;
    font-family: "HelveticaNeueW01-77BdCn 692722", sans-serif;
  }
}
*/
